{% extends "KVSUserBundle::layout.html.twig" %}
{% block kvs_user_content %}
<div class="page-body">
<div class="container">

    <div class="content">
        <div class="form-container">
            <p class="form-title">LOREM IPSUM</p>
			<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            <div class="apart">
            <div class="splitformleft">
                    <div class="label"><p class="label-title even">LOREM IPSUM </p>Dolor sit amet, consectetuer adipiscing elit, diam nonummy nibh.
                    </div>
            </div>
            <div class="splitformright">
                <div class="prompt name">

                    <div class="holding">
                        <div class="sidetip">
                            <p class="ok isaok">Name looks great.</p>
                            <p class="tip">{{ form_label(form.new, 'Password Description') }}</p>
                            <p class="blank invalid error" role="alert">{{ form_errors(form.new) }}</p>
                        </div>

                        {{ form_widget(form.new.first) }}
                        <span class="holder">{{ form_label(form.new) }}</span>
                    </div>

                </div>

                <div class="prompt name">

                    <div class="holding">
                        <div class="sidetip">
                            <p class="ok isaok">Name looks great.</p>
                            <p class="tip">{{ form_label(form.new, 'Re-Password Description') }}</p>
                            <p class="blank invalid error" role="alert">{{ form_errors(form.new) }}</p>
                        </div>

                        {{ form_widget(form.new.second) }}
                        <span class="holder">{{ form_label(form.new) }}</span>
                    </div>

                </div>
			</div>
			</div>
		    {{ form_rest( form ) }}
        	<input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />

            </form>
        </div>
    </div>

</div>

</div>

<div id="ajax-indicator" style="display:none;"><span>Loading...</span></div>

{% endblock %}



